{% extends 'base_templates/form.html' %}
{% from 'base_templates/form.html' import textarea, submit with context %}

{% block title %} Announcements - Delete {% endblock %}

{% block header %} Delete an Announcement {% endblock %}

{% block form %}
<h4 class="mb-3 text-center">
  Are you sure you want to delete the following announcement?
</h4>

{{ textarea(title='Announcement ID', id='announcementID', rows='1', cols='35', attributes=['readonly'], value=announcement.id) }}
{{ textarea(title='Title', id='title', rows='3', cols='35', attributes=['readonly'], value=announcement.title) }}
{{ textarea(title='Description', id='description', rows='5', cols='35', attributes=['readonly'], value=announcement.description) }}
{{ submit(back_url=url_for('main.announcements'), submit_text='Delete', submit_id='deleteConfirm') }}

{% endblock %}