{% extends 'bases/base.html' %}

{% block title %} About - Add Card{% endblock %}


{% block head %}
<title>About - Add Card</title>
{% endblock %}




{% block body %}


<div class="container">
  <div class="col-md-12">
	   <div class="text-center">
			    <br><h1> Add an About card </h1>
     </div>

     <br>
     <!-- Below is taken from announcements, we are recreating it for FAQ -->

     <div class="row justify-content-center">
       <form action="" method="POST" enctype="multipart/form-data">

         <label for="subject">Subject</label>
         <div class="md-form">
           <textarea id="subject" name="subject" class="md-textarea form-control" rows="3" cols="60" required></textarea>
         </div>
         <br><label for="content">Content</label>
         <div class="md-form">
           <textarea id="content" name="content" class="md-textarea form-control" rows="5" cols="35" required></textarea>
         </div>

         <br>

         <div class="row justify-content-center mt-5">
           <a href="{{url_for('main.about')}}" class="btn btn-primary" role="button">Back</a>
           <input type="submit" class="btn btn-primary ml-3" type="button" value="Submit">
         </div>

         <br>

       </form>
     </div>


  </div>
</div>



{% endblock %}
