{% extends 'base_templates/form.html' %}
{% from 'base_templates/form.html' import textarea, submit with context %}

{% block title %} About - edit card {% endblock %}

{% block header %} Edit About Card {% endblock %}

{% block form %}
{{ textarea(title='Card ID', id='card', rows='1', cols='35', attributes=['readonly'], value=about.id) }}
{{ textarea(title='Subject', id='newSubject', rows='3', cols='60', attributes=['required'], value=about.title) }}
{{ textarea(title='Content', id='newContent', rows='5', cols='35', attributes=['required'], value=about.content) }}
{{ submit(back_url=url_for('main.about'), submit_text='Update') }}
{% endblock %}