{% extends 'base.html' %}

{% block title %} Announcements - Add {% endblock %}


{% block head %}
<title>Announcements - Add</title>
{% endblock %}




{% block body %}


<div class="container">
  <div class="col-md-12">
	   <div class="text-center">
			    <br><h1> Add an Announcement </h1>
     </div>

     <br>

     <div class="row justify-content-center">
       <form action="" method="POST" enctype="multipart/form-data">

         <label for="title">Title</label>
         <div class="md-form">
           <textarea id="title" name="title" class="md-textarea form-control" rows="3" cols="60" required></textarea>
         </div>
         <br><label for="description">Description</label>
         <div class="md-form">
           <textarea id="description" name="description" class="md-textarea form-control" rows="5" cols="35" required></textarea>
         </div>
         <br><label for="description">Add Link</label>
         <div class="md-form">
           <textarea id="links" name="links" class="md-textarea form-control" rows="2" cols="35"></textarea>
         </div>

         <br>

         <div class="row justify-content-center mt-5">
           <a href="{{url_for('main.announcements')}}" class="btn btn-primary" role="button">Back</a>
           <input type="submit" class="btn btn-primary ml-3" type="button" value="Submit">
         </div>

         <br>

       </form>
     </div>


  </div>
</div>



{% endblock %}
