{% extends 'base_templates/form.html' %}
{% from 'base_templates/form.html' import textarea, submit with context %}

{% block title %} Announcements - Edit {% endblock %}

{% block header %} Edit Announcement {% endblock %}

{% block form %}
{{ textarea(title='Announcement ID', id='announcementID', rows='1', cols='35', attributes=['readonly'], value=announcement.id) }}
{{ textarea(title='Title', id='newTitle', rows='3', cols='60', attributes=['required'], value=announcement.title) }}
{{ textarea(title='Description', id='newDescription', rows='5', cols='35', attributes=['required'], value=announcement.description) }}
{{ textarea(title='Links', id='newLinks', rows='3', cols='35', value=announcement.links) }}

{{ submit(back_url=url_for('main.announcements'), submit_text='Update') }}
{% endblock %}