{% extends 'base.html' %}

{% block title %} Announcements - Edit {% endblock %}


{% block head %}
<title>Announcements - Edit</title>
{% endblock %}


{% block body %}

<div class="container">
  <div class="col-md-12">
	   <div class="text-center">
			    <br><h1> Edit Announcement </h1>
     </div>

     <br>

     <div class="row justify-content-center">
       <form action="" method="POST" enctype="multipart/form-data">

         <label for="announcementID">Announcement ID</label>
         <div class="md-form">
           <textarea id="announcementID" name="announcementID" class="md-textarea form-control" rows="1" cols="35" readonly>{{id}}</textarea>
         </div>
         <br>
         <label for="newTitle">Title</label>
         <div class="md-form">
           <textarea id="newTitle" name="newTitle" class="md-textarea form-control" rows="3" cols="60" required>{{title}}</textarea>
         </div>
         <br><label for="newDescription">Description</label>
         <div class="md-form">
           <textarea id="newDescription" name="newDescription" class="md-textarea form-control" rows="5" cols="35"  required>{{description}}</textarea>
         </div>

         <br>

         <div class="row justify-content-center mt-5">
           <a href="{{url_for('main.announcements')}}" class="btn btn-primary" role="button">Back</a>
           <input type="submit" class="btn btn-primary ml-3" type="button" value="Update">
         </div>

         <br>

       </form>
     </div>


  </div>
</div>




{% endblock %}
