{% extends 'bases/user_page.html' %}
{% block title %} Announcements {% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-3"> Announcements </h1>
  <br>
  <div class="row justify-content-center">
    {% for temp in data %}
      <table class="table">
        <tbody>
          <h4>{{temp.title}}</h4>
          <td>
            {{temp.description}}<br><br>{{temp.date.strftime("%d-%m-%Y")}}<br>

            {% if temp.links %}
              Read more: <a href="{{temp.links}}"> {{temp.links}}</a>
            {% endif %}

            {% if current_user.is_authenticated %}
              <div class="float-right">
                 <a href="{{url_for('announcements.delete_announcement', id=temp.id, title=temp.title, description=temp.description)}}" class="px-2">Delete</a>
                 <a href="{{url_for('announcements.edit_announcement', id = temp.id)}}" class="px-2">Edit</a>
              </div>
            {% endif %}
          </td>
        </tbody>
      </table>
    {% endfor %}
  </div>

  <div class="text-center my-2">
    {% if current_user.is_authenticated %}
      <a href="{{url_for('announcements.create_announcement')}}" class="btn btn-primary" role="button">Add Announcement</a>
    {% else %}
      <a href="{{url_for('users.login')}}">Please log in as a staff member to add/update content</a>
    {% endif %}
  </div>
  <br>
</div>
{% endblock %}
