{% extends 'base_templates/base.html' %}

{% block body %}
<div class="container my-3">
  <div class="row">
    <div class="col">
      <h1>{% block header %}{% endblock %}</h1>
      <form action="" method="POST" enctype="multipart/form-data">
        {% block form %}{% endblock %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% macro textarea(title, id, rows, cols, attributes=[], value='', placeholder='') %}
  <div class="md-form my-3">
    <label for="{{id}}">{{title}}</label>
    <textarea id="{{id}}" name="{{id}}" class="md-textarea form-control" rows="{{rows}}" cols="{{cols}}" placeholder="{{placeholder}}" {{attributes|join(' ')}}>{{value}}</textarea>
  </div>
{% endmacro %}

{% macro submit(back_url, submit_text='Submit', submit_id='submit') %}
<div class="row justify-content-center">
  <a href="{{back_url}}" class="btn btn-primary mx-2" role="button">Back</a>
  <input type="submit" class="btn btn-primary mx-2" id="{{submit_id}}" type="button" value="{{submit_text}}">
</div>
{% endmacro %}