:root {
    --home-font-color: black;
    --staff-color: black;
    --font-color: black;
    --nav-bg-color:#39ac73;
    --footer-link-color: #206040;
    --font-color: black;
    --bg-color: white;
    --h2-font-color:black;
    --h2-bg-color: #39ac73;
    --link-color: #39ac73;
    --nav-color: #39ac73;
    --sidebar-color:#d9f2e6;
    --hover-color: #39ac73;
    --card-color: #b3e6cc;
    --faq-color: #d9f2e6;
    --about-card-header: #b3e6cc;
    --about-card-body: white;
    --splash-container-color:#39ac73;
    --splash-border-color: #206040;
    --splash-content-color: white;
    --splash-heading-color: #206040;
    --icon-color: #39ac73;
    --popup-color: white;
}

[data-theme="dark"] {
    --home-font-color: white;
    --staff-color: white;
    --font-color: #ebebeb;
    --nav-bg-color: #060d13;
    --footer-link-color: white;
    --font-color: #ebebeb;
    --bg-color: #0d1a26;
    --h2-font-color: #060d13;
    --h2-bg-color: #ebebeb;
    --link-color: white;
    --nav-color: #060d13;
    --sidebar-color: #1a344c;
    --hover-color: white;
    --card-color: #061313;
    --faq-color: #1f4261;
    --about-card-header: #060d13;
    --about-card-body: #1f4261;
    --splash-container-color: #060d13;
    --splash-border-color: #060d13;
    --splash-content-color: #060d13;
    --splash-heading-color: #ebebeb;
    --icon-color: #1f4261;
    --popup-color: #1a344c;
}
