:root {
	--font-color: black;
	--bg-color: white;
	--h2-font-color:black;
	--h2-bg-color: #39ac73;
	--nav-color: #39ac73;
	--sidebar-color:#d9f2e6;
	--hover-color: grey;
	--card-color: #b3e6cc;
	--faq-color: #d9f2e6;
	--about-card-header: #b3e6cc;
	--about-card-body: white;
}

[data-theme="dark"] {
	--font-color: #ebebeb;
	--bg-color: #0d1a26;
	--h2-font-color:black;
	--h2-bg-color: #ebebeb;
	--nav-color: black;
	--sidebar-color: #1a344c;
	--hover-color: #595959;
	--card-color: #061313;
	--faq-color: #1f4261;
	--about-card-header: #060d13;
	--about-card-body: #1f4261;
}

body {
	color: var(--font-color);
	background-color: var(--bg-color);
}

body .indexh2 {
	color: var(--h2-font-color);
	background-color: var(--h2-bg-color);
}

body .popUpButtonCircle {
    background-color: var(--h2-bg-color);
}

body .popUpButton {
    background-color: var(--h2-bg-color);
    color: var(--h2-font-color);
}

body .menubar .bar {
	background-color: var(--font-color);
}

body .toTop {
	filter: invert(50%);
}

body #sidebar {
    background-color: var(--sidebar-color);
}

body #sidebar ul li a {
    color: var(--font-color);
}

body #sidebar ul li a:hover {
    color: var(--nav-color);
}

body .table {
	color: var(--font-color);
}

body #tableContent:hover {
	color: var(--hover-color);
}

body #generate {
    background-color: var(--h2-bg-color);
    color: var(--h2-font-color);
}

body #chart {
	color: var(--font-color);	
}

body .card-header {
	background: var(--card-color);
}

body #faqBtn {
	color: var(--font-color);
}

body #faqText {
	background: var(--faq-color);
}

body .announcement {
	color: var(--font-color);
}

body #log {
	color: var(--font-color);
}

body #card-header {
	background: var(--about-card-header);
}

body #card-body {
	background-color: var(--about-card-body)
}

body h5 {
	background: var(--about-card-header);
}

body #plz {
	color: var(--font-color);
}