:root {
	--home-font-color: black;
	--staff-color: black;
	--font-color: black;
	--bg-color: white;
	--h2-font-color:black;
	--h2-bg-color: #39ac73;
	--link-color: #39ac73;
	--nav-color: #39ac73;
	--sidebar-color:#d9f2e6;
	--hover-color: #39ac73;
	--card-color: #b3e6cc;
	--faq-color: #d9f2e6;
	--about-card-header: #b3e6cc;
	--about-card-body: white;
	--splash-container-color:#39ac73;
	--splash-border-color: #206040;
	--splash-content-color: white;
	--splash-heading-color: #206040;
	--icon-color: #39ac73;
	--popup-color: white;
}

[data-theme="dark"] {
	--home-font-color: white;
	--staff-color: white;
	--font-color: #ebebeb;
	--bg-color: #0d1a26;
	--h2-font-color: #060d13;
	--h2-bg-color: #ebebeb;
	--link-color: white;
	--nav-color: #060d13;
	--sidebar-color: #1a344c;
	--hover-color: white;
	--card-color: #061313;
	--faq-color: #1f4261;
	--about-card-header: #060d13;
	--about-card-body: #1f4261;
	--splash-container-color: #060d13;
	--splash-border-color: #060d13;
	--splash-content-color: #060d13;
	--splash-heading-color: #ebebeb;
	--icon-color: #1f4261;
	--popup-color: #1a344c;
}

body {
	color: var(--font-color);
	background-color: var(--bg-color);
}

body .indexh2 {
	color: var(--h2-font-color);
	background-color: var(--h2-bg-color);
}

body .popUpButtonCircle {
    background-color: var(--h2-bg-color);
}

body .popUpButton {
    background-color: var(--h2-bg-color);
    color: var(--h2-font-color);
}

body .popUp {
	background: var(--popup-color);
}

body .popUpHeader {
	background-color: var(--splash-content-color);
}

body .menubar .bar {
	background-color: var(--font-color);
}

body .toTop {
	filter: invert(50%);
}

body #sidebar {
    background-color: var(--sidebar-color);
}

body #sidebar ul li a {
    color: var(--font-color);
}

body #sidebar ul li a:hover {
    color: var(--nav-color);
}

body .table {
	color: var(--font-color);
}

body #tableContent:hover {
	color: var(--hover-color);
}

body #generate {
    background-color: var(--h2-bg-color);
    color: var(--h2-font-color);
}

body #chart {
	color: var(--font-color);	
}

body .card-header {
	background: var(--card-color);
}

body #faqBtn {
	color: var(--font-color);
}

body .card {
	background: var(--nav-color);
}

body #faqText {
	background: var(--faq-color);
}

body .announcement {
	color: var(--font-color);
}

body #log {
	color: var(--font-color);
}

body #card-header {
	background: var(--about-card-header);
}

body #card-body {
	background-color: var(--about-card-body)
}

body h5 {
	background: var(--about-card-header);
}

body #plz {
	color: var(--font-color);
}

body .darkModeContainer {
	background-color: var(--splash-container-color);
	border-color: var(--splash-border-color);
	color: var(--splash-color);
}

body #content {
	background-color: var(--splash-content-color);
	border-color: var(--splash-border-color);
}

body #chartLink {
	color: var(--link-color);
}

body .icon {
	background-color: var(--icon-color);
}

body h1 {
	color: var(--splash-heading-color);
}

#nav {
	background-color: var(--splash-container-color);
	border-bottom: 2px solid black;"
}

.navbar-light .navbar-nav .active>.nav-link {
	color: var(--font-color);
}
.navbar-light .navbar-brand> #house {
	color: var(--home-font-color);
}

#navbarDropdownMenuLink-333{
	color: var(--staff-color);
}
