h1, h2, h3 {
  display: inline-block;
  padding: 3px 20px;
  border: 2px solid black;
  border-radius: 30px;
  color: var(--h2-font-color);
  background-color: var(--h2-bg-color);
}

#image1.fade-in, #image2.fade-in, #image3.fade-in, #image4.fade-in, #image5.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#image1 {
  opacity: 0;
  transform: translateY(10px);
  transition: all 1s ease-in-out;
}

#image2 {
  opacity: 0;
  transform: translateY(10px);
  transition: all 1s ease-in-out;
}

#image3, #image4, #image5 {
  opacity: 0;
  transform: translateY(10px);
  transition: all 1s ease-in-out;
}