body {
  margin: 0;

}

.loginDiv{
  top: 100%;
  margin: auto;
  width: 100%;
  border: 3px;
  border-color: solid RoyalBlue;
  display: inline-block;
  background-color: #ffffff;

  padding: 10px;

}

.container{
  width: 35%;
}

.h2-centre{
  text-align: center;
}
