:root {
	--home-font-color: black;
	--staff-color: black;
	--font-color: black;
	--nav-bg-color:#39ac73;
}

[data-theme="dark"] {
	--home-font-color: white;
	--staff-color: white;
	--font-color: #ebebeb;
	--nav-bg-color: #060d13;
}

#nav {
	background-color: var(--nav-bg-color);
	border-bottom: 2px solid black;"
}

.navbar-light .navbar-nav .active>.nav-link {
	color: var(--font-color);
}

.navbar-light .navbar-brand> #house {
	color: var(--home-font-color);
}

#navbarDropdownMenuLink-333{
	color: var(--staff-color);
}
