#content {
    background-color: white;
    border-color: #206040;
}

#content[data-theme="dark"] {
    background-color: #0d1a26;
    border-color: #060d13;
}

.icon {
    background-color: #39ac73;
}

.icon[data-theme="dark"] {
    background-color: #1f4261;
}

h1 {
    color: #206040;
}

h1[data-theme="dark"] {
    color: #ebebeb;
}

.darkModeContainer {
    background-color: #39ac73;
    border-color: #206040;
}

.darkModeContainer[data-theme="dark"] {
    background-color: #060d13;
    border-color: #060d13;
}

body {
    color: black;
    background-color: white;
}

body[data-theme="dark"] {
    color: #ebebeb;
    background-color: #0d1a26;
}

#nav a[data-theme="dark"] {
    color: #ebebeb;
}

#collapse .menubar .bar[data-theme="dark"] {
    background-color: #ebebeb;
}

body .indexh2[data-theme="dark"] {
    color: black;
    background-color: #060d13;
}

#sidebar ul li a[data-theme="dark"] {
    color: white;
}

#sidebar ul li a:hover[data-theme="dark"] {
    color: #060d13;
}

.popUp[data-theme="dark"] {
    background-color: #1a344c;
}

#staff[data-theme="dark"] {
    background-color: #060d13;
}

#sidebar[data-theme="dark"] {
    background-color: #1a344c;
}

.popUpButtonCircle[data-theme="dark"] {
    background-color: #ebebeb;
}

.popUpButton[data-theme="dark"] {
    background-color: #ebebeb;
    color: black;
}

#nav[data-theme="dark"] {
    background-color: #060d13;
}

#staff[data-theme="dark"] {
    background-color: #060d13;
}

#log[data-theme="dark"] {
    color: white;
}

.announcements[data-theme="dark"] {
    color: white;
}

.tableh #tableh th[data-theme="dark"] {
    color: white;
}

td[data-theme="dark"] {
    color: "white";
}

#chart[data-theme="dark"] {
    color: white;
}

#generate[data-theme="dark"] {
    background-color: #060d13;
}