{% extends 'bases/base.html' %}

{% block title %} FAQ - Add {% endblock %}


{% block head %}
<title>FAQ - Add</title>
{% endblock %}




{% block body %}


<div class="container">
  <div class="col-md-12">
	   <div class="text-center">
			    <br><h1> Add a Frequently Asked Question </h1>
     </div>

     <br>
     <!-- Below is taken from announcements, we are recreating it for FAQ -->

     <div class="row justify-content-center">
       <form action="" method="POST" enctype="multipart/form-data">

         <label for="question">Question</label>
         <div class="md-form">
           <textarea id="question" name="question" class="md-textarea form-control" rows="3" cols="60" required></textarea>
         </div>
         <br><label for="answer">Answer</label>
         <div class="md-form">
           <textarea id="answer" name="answer" class="md-textarea form-control" rows="5" cols="35" required></textarea>
         </div>

         <br>

         <div class="row justify-content-center mt-5">
           <a href="{{url_for('main.faq')}}" class="btn btn-primary" role="button">Back</a>
           <input type="submit" class="btn btn-primary ml-3" type="button" id="submit" value="Submit">
         </div>

         <br>

       </form>
     </div>


  </div>
</div>



{% endblock %}
