{% extends 'base_templates/form.html' %}
{% from 'base_templates/form.html' import textarea, submit with context %}

{% block title %} FAQ - Delete {% endblock %}

{% block header %} Delete a question {% endblock %}

{% block form %}
<h4 class="mb-3 text-center">
  Are you sure you want to delete the following Question?
</h4>

{{ textarea(title='FAQ ID', id='faqID', rows='1', cols='35', attributes=['readonly'], value=faq.id) }}
{{ textarea(title='Question', id='question', rows='3', cols='35', attributes=['readonly'], value=faq.question) }}
{{ textarea(title='Answer', id='answer', rows='5', cols='35', attributes=['readonly'], value=faq.answer) }}

{{ submit(back_url=url_for('main.faq'), submit_text='Delete', submit_id='delete_Button') }}
{% endblock %}