{% extends "bases/user_page.html" %}
{% block title %} FAQ {% endblock %}

{% block content%}
<div class="container">
  <h1 class="mt-3"> FAQ: Frequently Asked Questions </h1>
  <div class="row">
    <div class="col">
      {% for temp in data %}
        <div class="card my-3">
          <div class="card-header" id="faqH">
            <h1 id="titre">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseID{{ temp.id }}" aria-expanded="false" aria-controls="collapseID{{ temp.id }}" id="faqBtn" >
                {{temp.question}}
              </button>
            </h1>
          </div>

          <div class="collapse card-body" id="collapseID{{ temp.id }}" id="faqText">
            <p>{{temp.answer}}</p>
            {% if current_user.is_authenticated %}
              <div class="float-right">
                <a href="{{url_for('faq.edit_faq', id=temp.id)}}" class="px-2">Edit</a>
                <a href="{{url_for('faq.delete_faq', id=temp.id)}}" class="px-2">Delete</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="text-center my-2">
    {% if current_user.is_authenticated %}
      <a href="{{url_for('faq.create_faq')}}" class="btn btn-primary" role="button">Add Question</a>
    {% else %}
      <a href="{{url_for('users.login')}}" id="plz">Please log in as a staff member to add/update content</a>
    {% endif %}
  </div>
  <br>
</div>
{% endblock %}
