{% extends "base.html" %}
{% block title %} FAQ {% endblock %}


{% block head %}
<title>FAQ</title>
{% endblock %}

{% block content%}
<div class="container">
	<div class="col-md-12">
		<div class="text-center">
				<br><h1> FAQ: Frequently Asked Questions </h1>
			</div>
			<div class="row justify-content-center">
		<hr></hr>
		</div>
        <br>
	{% if data %}
		<div class="row justify-content-center">
			<div class="w-100">
				<div class="accordion" id="accordion">
					{% for temp in data %}
					<div class="card">
						<div class="card-header">
							  <h2>
						        <button id="faqQuestion" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseID{{ temp.id }}" aria-expanded="false" aria-controls="collapseID{{ temp.id }}">
						          {{temp.question}}
						        </button>
						      </h2>
						</div>

							  <div class="collapse" id="collapseID{{ temp.id }}">
								  <p>
								{{temp.answer}}
							</p>
							{% if current_user.is_authenticated %}
               					<a href="{{url_for('faq.delete_faq', id=temp.id)}}" id="deleteButton" style="text-align:right; float:right;">Delete</a>
              					 <a href="{{url_for('faq.edit_faq', id=temp.id)}}" id="edit" style="text-align:right; float:right; position: relative; left: -35px;">Edit</a>
             					{% endif %}

							</div>

					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
</div>
</div>


{% if current_user.is_authenticated %}
<div class="mx-auto text-center">
  <a href="{{url_for('faq.create_faq')}}" class="btn btn-primary" id="addFaq"role="button">Add FAQ</a>
</div>
<br><br><br>
{% else %}
<div class="mx-auto text-center">
  <br>
  <a href="{{url_for('users.login')}}">Please log in as a staff member to add/update content</a>
</div>
<br><br><br>
{% endif %}


<br>
{% endblock %}
