{% extends "base.html" %}
{% block title %} Make a question {% endblock %}


{% block content%}

<div class="row justify-content-center">
  <h2>Add a question and an answer</h2>
</div>

<div class="container">
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="question">Write a question</label>
      {% if form.question.errors %}
        {{ form.question(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.question.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.question(class="form-control", id= "test_add_question_question") }}
      {% endif %}
    </div>

    <div class="form-group">
      <label>Write multiple answers</label>
      {% if form.first_answer.errors %}
        {{ form.first_answer(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.first_answer.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.first_answer(class="form-control",  id="test_add_question_answer1") }}
      {% endif %}

      {% if form.second_answer.errors %}
        {{ form.second_answer(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.second_answer.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.second_answer(class="form-control",  id="test_add_question_answer2") }}
      {% endif %}

      {% if form.third_answer.errors %}
        {{ form.third_answer(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.third_answer.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.third_answer(class="form-control",  id="test_add_question_answer3") }}
      {% endif %}
    </div>

    <div class="form-group">
      <label for="correct_answer">Write the correct answer</label>
      {% if form.correct_answer.errors %}
        {{ form.correct_answer(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.correct_answer.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.correct_answer(class="form-control",  id="test_add_question_answerCorrect") }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>

{% endblock %}
