{% extends "bases/base.html" %}
{% block body %}
  {% block content %}{% endblock %}

  <div class="text-col d-flex justify-content-center">
    <div class="question" id="question">Was this page helpful?</div>
    <div class="buttonsContainer" id="answer">
      <button id="helpful-yes" class="button neutral feedback-button">Yes</button>
      <button id="helpful-no" class="button neutral feedback-button">No</button>
    </div>
    <div id="feedback-result"></div>
  </div>
  <br>

  <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var page = {{request.path|tojson|safe}}.slice(1);

    var feedback = function(button, useful) {
      $(button).bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/_helpful_feedback', {
          page: page,
          answer: useful
        }, function(data) {
          $("#feedback-result").text(data.result);
          $("#question").hide();
          $("#answer").hide();
        });
      });

    };
    feedback('#helpful-yes', 1);
    feedback('#helpful-no', 0);
  </script>

{% endblock %}