{% extends "base_templates/user_page.html" %}
{% block title %} 404 {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/marquee.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
<script src="{{url_for('static', filename='/js/parallax.min.js')}}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='/js/jquery.quiz.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/marquee.js')}}"></script>
{% endblock %}

{% block content%}
<div class="container">
  <div class="mt-sm-5 d-sm-block">
    <div class="row">
          <h2>Error 404</h2>
    </div>

    <div class="row">
          <p>Oops! Seems like the page you are looking for no longer exists!</p>
    </div>

    <div class="row">
          <p>You can go back using the navigation bar above.</p>
    </div>




  </div>
</div>

{% endblock %}
