{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content%}
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-12">
			<div class="card bg-default">
				<h5 class="card-header">
					<strong>What we do</strong>
				</h5>
				<div class="card-body">
					<p>
						NB. To do: add function to display content saved in database (possibly recreating this page: https://www.kch.nhs.uk/service/a-z/paediatric-liver)
                        Following cards have been hardcoded, but content below will be deleted/subsituted with database implementation 
					</p>
				</div>
				<div class="card-footer">
				</div>
			</div>
            <br>
			<div class="card text-white bg-info">
				<h5 class="card-header">
					Booking a Patient
				</h5>
				<div class="card-body">
					<p class="card-text">
						<span>GPs should refer via NHS e-referral (e-RS) wherever possible.</span>
					</p>
					<p class="card-text">
					</p>
					<p class="card-text">
						<strong>Routine Referrals</strong>
					</p>
					<p class="card-text">
						Other referrers can fill in the form below and email it to kch-tr.PaedLiverRegistrars@nhs.net.
					</p>
					<p class="card-text">
						For all referrals, please call the on-call Paediatric Liver Registrar (for health professionals only) on 020 3299 9000, extension 37812.
					</p>
					<p class="card-text">
					</p>
					<p class="card-text">
						The postal address if needed is:
					</p>
					<p class="card-text">
						<em>Paediatric Liver Offices</em>
					</p>
					<p class="card-text">
						<em>Hambleden Wing</em>
					</p>
					<p class="card-text">
						<em>King's College Hospital</em>
					</p>
					<p class="card-text">
						<em>Denmark Hill</em>
					</p>
					<p class="card-text">
						<span><em>London SE5 9RS</em></span>
					</p>
					<p class="card-text">
					</p>
					<p class="card-text">
						<strong>Emergency Referrals</strong>
					</p>
					<p class="card-text">
						GPs can make urgent referrals by using NHS e-Referral and stating that the referral is urgent. Call the team on the following phone number when you send the referral:
					</p>
					<p class="card-text">
						09:00-17:00, phone the on-call registrar on 020 3299 7812, extension 37812.
					</p>
					<p class="card-text">
						Outside of these hours, tel: 07866 792368.
					</p>
					<p class="card-text">
					</p>
					<p class="card-text">
						Other referrers can make urgent referrals by calling:
					</p>
					<p class="card-text">
						09:00-17:00, phone the on-call registrar on 020 3299 7812, extension 37812.
					</p>
					<p class="card-text">
					</p>
					<p class="card-text">
						Outside of these hours, tel: 07866 792368.
					</p>
				</div>
				<div class="card-footer">
					<div>
						<strong>Other Queries</strong>
					</div>
					<div>
						Phone the Paediatric Liver, GI and Nutrition Centre on 020 3299 3214.
					</div>
				</div>
			</div>
                
            <br>

			<div class="card text-white bg-danger">

				<h5 class="card-header">
					Preparing for your appointment
				</h5>
				<div class="card-body">
					<p class="card-text">
						Please do not arrive more than 30 minutes before your appointment. Arriving early will not enable you to be seen before your appointment time.
					</p>
				</div>
				<div class="card-footer">
					Third floor, Cheyne Wing, King's College Hospital, Denmark Hill, London, SE5 9RS
					<div>
						Main Reception: +44 (0)20 3299 3214
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<br>
{% endblock %}