{% extends 'base.html' %}

{% block title %} Announcements {% endblock %}


{% block head %}
<title>Announcements</title>
{% endblock %}




{% block body %}


<div class="container">
  <div class="col-md-12">
	   <div class="text-center">
			    <h1> Announcements </h1>
     </div>

     <br><br>

     {% if data %}
         {% for temp in data %}

         <div class="row justify-content-center">
         <table class="table">
         <tbody>

                   <h4>{{temp.title}}</h4>
                   <td>{{temp.description}} <br><br> {{temp.date[:10]}}</td>

          </tbody>
          </table>
          </div>

         {% endfor %}
     {% endif %}

  </div>
</div>



<form action="addAnnouncement" method="POST">

  <label for="title">Title</label>
  <br><input type="text" id="title" name="title" placeholder="title" required>
  <br><label for="description">Description</label>
  <br><input type="text" id="description" name="description" placeholder="description" required>

  <br><input type="submit" class="btn btn-primary" value="submit">

</form>


{% endblock %}
