{% extends 'base.html' %}

{% block title %} Announcements {% endblock %}

{% block head %}
<title>Announcements</title>
{% endblock %}

{% block body %}

<label for="page_id">Page ID</label>
<br><input type="text" id="page_id" name="page_id" placeholder="page_id" required autofocus>
<br><label for="title">Title</label>
<br><input type="text" id="title" name="title" placeholder="title" required>
<br><label for="description">Description</label>
<br><input type="text" id="description" name="description" placeholder="description" required>
<br><label for="date">Date</label>
<br><input type="text" id="date" name="date" placeholder="date" required>

<br><input type="submit" class="btn btn-primary" value="submit">




{% endblock %}
