<!DOCTYPE html>
<html>

	<head>

	<!-- bootstrap link -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dashboard.css')}}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   
    
   <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
   <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>


	<title>{% block title %}{% endblock %}</title>
	{% block head %} {% endblock %}
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="{{url_for('index')}}">WW</a>

		  <div class="collapse navbar-collapse">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{{url_for('index')}}">Home</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="{{url_for('medication')}}">Drug Chart</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="{{url_for('faq')}}">FAQ</a>

					<li>
						 <input id="searchInput" type="text" placeholder="Search" style="border-radius: 10px; padding: 10px; width: 80; height:11px; margin-top: 7px; right: 5px;">
						 <script type="text/javascript" src="../static/resources/hilitor.js"></script>
						 <script>
						   window.addEventListener("DOMContentLoaded", function(e) {
						     var highlighter = new Hilitor("testText");
						     highlighter.setMatchType("left");
						     highlighter.setBreakRegExp(new RegExp('[^\\w\' -]+', "g"));
						   	highlighter.apply("input string,searchInput,page");
						     document.getElementById("searchInput").addEventListener("keyup", function(e) {
						       highlighter.apply(this.value);
						     }, false);
						   }, false);
						 </script>
					</li>

		    </ul>

		    <ul class="navbar-nav">
		    	{% if session['logged_in'] %}
		      <li class="nav-item active">
		      	<a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
		      </li>
		      <li class="nav-item active">
		      	<a class="nav-link" href="{{url_for('logout')}}">Logout</a>
		      </li>
		      	{%else%}
		        <a class="nav-link" href="{{url_for('login')}}">Staff Login</a>
		        {%endif%}
		      </li>
		    </ul>
		  </div>
		</nav>
		<br>
    {% block body %} {% endblock %}
		{% block content %}{% endblock %}
	<footer></footer>
</html>
