{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}


{% block content%}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('quiz')}}">
                  Add quiz
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Delete page
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('edit')}}">
                  Edit page
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        	<div class="container">
        		<h1 class="text-dark" style="text-decoration-line:underline;" align="center"> Dashboard</h1>
        		<hr>
        		<div class="row justify-content-around">
        			<div class="card" style="width: 18rem;">
        				<div class="card-body">
        					<h5 class="card-title">Total visits: </h5>
        					<p class="card-text">{{analyticsUsage.totalVisits}}</p>
        				</div>
        			</div>
        			<div class="card" style="width: 18rem;">
        				<div class="card-body">
        					<h5 class="card-title">Most Visited Page</h5>
        					<p class="card-text">{{analyticsUsage.mostVisitedPage}}</p>
        				</div>
        			</div>
        			<div class="card" style="width: 18rem;">
        				<div class="card-body">
        					<h5 class="card-title">Unique visitors: </h5>
        					<p class="card-text">{{analyticsUsage.visitorCount}}</p>
        				</div>
        			</div>
        		</div>


        		<div class="row justify-content-around">
        			<div class="row">
        			<button class="btn btn-primary" onclick="window.location.href ='{{url_for('addUser')}}' ;">Add user</button>
        			<button class="btn btn-primary" onclick="window.location.href ='{{url_for('users')}}' ;">See users</button>
        			</div>
        			<div class="row">
        			<button class="btn btn-primary">Delete page</button>
        			<button class="btn btn-primary">Add page</button>
        			<button class="btn btn-primary" onclick="window.location.href ='{{url_for('edit')}}' ;">Edit page</button>
        		</div>
        		</div>
				<br>
        		<div class="row justify-content-around">
        			<div class="card">
        				<canvas class="my-4 w-100" id="myChart" width="450" height="380"></canvas>
        			</div>
							<div class="card">
								<canvas id="pieChart" width="450" height="380"></canvas>
							</div>
        		</div>


        	</div>
        </main>
    </div>
</div>

<!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [{{analyticsUsage.weekData['6'].date}}, {{analyticsUsage.weekData['5'].date}},
									{{analyticsUsage.weekData['4'].date}}, {{analyticsUsage.weekData['3'].date}},
									{{analyticsUsage.weekData['2'].date}}, {{analyticsUsage.weekData['1'].date}}, {{analyticsUsage.weekData['today'].date}}],
          datasets: [{
            data: [{{analyticsUsage.weekData['6'].count}}, {{analyticsUsage.weekData['5'].count}},
						 			{{analyticsUsage.weekData['4'].count}}, {{analyticsUsage.weekData['3'].count}},
									{{analyticsUsage.weekData['2'].count}}, {{analyticsUsage.weekData['1'].count}}, {{analyticsUsage.weekData['today'].count}}],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
			var ctxP = document.getElementById("pieChart").getContext('2d');
			var myPieChart = new Chart(ctxP, {
			type: 'pie',
			data: {
			labels: ["Windows", "MacOS", "Mobile"],
			datasets: [{
			data: [{{analyticsUsage.windowsCount}}, {{analyticsUsage.macCount}}, {{analyticsUsage.mobileCount}}],
			backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C"],
			hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870"]
			}]
			},
			options: {
			responsive: true
			}
			});
    </script>






{% endblock %}
