{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content%}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/static/js/script.js"></script>
	<h1 class="text-dark" style="text-decoration-line:underline;" align="center"> Dashboard</h1>
	

	<div class="container">
		<hr>
		<div class="row justify-content-around">

			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Total visits: </h5>
					<p class="card-text">11,500</p>
				</div>
			</div>

			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Total page views: </h5>
					<p class="card-text">11,500</p>
				</div>
			</div>

			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Unique visitors: </h5>
					<p class="card-text">123</p>
				</div>
			</div>

		</div>
		<br>

		<div class="row justify-content-around">
			<div id="list-example" class="list-group">
				<a class="list-group-item list-group-item-action" href="#list-item-1">Add Page</a>
				<a class="list-group-item list-group-item-action" href="#list-item-2">Edit Page</a>
				<a class="list-group-item list-group-item-action" href="#list-item-3">Delete Page</a>
			</div>

			<div class="card">
                <div class="card-body">
                    <canvas id="chLine"></canvas>
                </div>
            </div>

		</div>

	</div>

	







{% endblock %}