{% extends "base.html" %}
{% block title %} Edit Page {% endblock %}


{% block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
<script src="{{url_for('static', filename='/js/parallax.min.js')}}"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>


<div class='container'>
  <div class="row justify-content-center">
    <h2>Edit Main Content Page</h2>
  </div>

  <!--Dropdown primary-->
<div class="dropdown dropright">
  <!--Trigger-->
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1-1"
    data-toggle="dropdown">Choose Heading</button>

  <!--Menu-->
  <div class="dropdown-menu dropdown-primary" id="headingMenu">
    <input class="form-control" type="text" placeholder="New Heading" aria-label="Search">
    {% for heading in content.headings %}
      <a class="dropdown-item" >{{heading}}</a>
    {% endfor %}
  </div>
</div>
<!--/Dropdown primary-->
<br>
<!--Dropdown primary-->
<div class="dropdown dropright">
<!--Trigger-->
<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1-3"
  data-toggle="dropdown">Position in list: </button>

<!--Menu-->
<div class="dropdown-menu dropdown-primary" id="positionMenu">
  <input class="form-control" type="text" placeholder="New Title" aria-label="Search">
  <a class="dropdown-item">1</a>
  <a class="dropdown-item">2</a>
  <a class="dropdown-item">3</a>
</div>
</div>
<!--/Dropdown primary-->
<br>
<!--Dropdown primary-->
<div class="dropdown dropright">
<!--Trigger-->
<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1-2"
  data-toggle="dropdown">Select from available titles:</button>

<!--Menu-->
<div class="dropdown-menu dropdown-primary" id="titleMenu">
  <input class="form-control" type="text" placeholder="New Title" aria-label="Search">
  {% for record in content.records %}
    <a class="dropdown-item">{{record.title}}</a>
  {% endfor %}
</div>
</div>
<!--/Dropdown primary-->
<br>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Title: </span>
  </div>
  <input type="text" class="form-control" value="New Title" aria-label="title" aria-describedby="basic-addon1" id="titleInput">
</div>


<br>
<div id="editor">

</div>

<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>


<!-- Script to select heading and title to display as button text, respectively-->
<script>
$("#titleMenu a").click(function(e){
  e.preventDefault(); // cancel the link behaviour
  var selText = $(this).text();
  $("#dropdownMenu1-2").text("Chosen Title: " + selText);
  document.getElementById("titleInput").value = selText;
  $.ajax({
     url: "{{url_for('content.edit_record_content')}}",
     type: "get",
     data: {jsdata: selText},
     success: function(response) {
       $("#editor").html(response);

     },
     error: function(xhr) {
       //Do Something to handle error
        $("#dropdownMenu1-3").text("Fail!");
     }
   });
});

$("#headingMenu a").click(function(e){
  e.preventDefault(); // cancel the link behaviour
  var selText = $(this).text();
  $.ajax({
    type : 'POST',
    url : "{{url_for('content.edit_content')}}",
    data : {'heading': selText}
  });
  $("#dropdownMenu1-1").text("Chosen Heading: " + selText);

});

$("#positionMenu a").click(function(e){
  e.preventDefault(); // cancel the link behaviour
  var selText = $(this).text();
  $("#dropdownMenu1-3").text("Position in list: " + selText);
});

</script>
    <br>
    <div class="row justify-content-center">
      <input type="submit" class="btn btn-success" value="Save Changes" id="save" name="save">
      <input type="submit" class="btn btn-danger" value="Remove Selected Article">
    </div>
</div>
<script type="text/javascript">
  $("#save").click(function(){

    titleInput = document.getElementById("titleInput").value;

    quillHTML = quill.root.innerHTML.trim();
    window.alert(quillHTML);
    $.ajax({
      url : "{{url_for('content.save_record')}}",
      type : 'get',
      data : {jsdata: quillHTML, title : titleInput},
      success: function(response) {
       window.alert("Sent to python")
      },
      error: function(xhr) {
        //Do Something to handle error
         window.alert("Failed")
      }
    });
     });
</script>>

{% endblock %}
