{% extends "base.html" %}
{% block title %} FAQ {% endblock %}


{% block content%}
<div class="container">
	<div class="col-md-12">
		<div class="text-center">
				<h1> FAQ: Frequently Asked Questions </h1>
			</div>
			<div class="row justify-content-center">
		<hr></hr>
		</div>

		{% for category in FAQCategories %}
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2> {{category.category}} </h2>
				<div class="accordion" id="accordion">
					{% for faq in FAQQuestions %}
					<div class="card">
						<div class="card-header">
							  <h2>
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseID1" aria-expanded="false" aria-controls="collapseID1">
						          {{faq.question}}
						        </button>
						      </h2>
						</div>
						<div class="x"> 
				      		<div class="collapse" id="collapseID1"> {{faq.answer}} </div>
					    </div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endfor %}
</div>
</div>
<br>
{% endblock %}

