{% extends 'base.html' %}

{% block head %}

	

{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-10">
					<div class="page-header text-center">
						<h1>
							FAQ: <span>Frequently Asked Questions</span>
						</h1>
					</div>
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
				<div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
					<form class="form-inline text-center">
						<input class="form-control mr-sm-2 text-center" type="text" /> 
						<button class="btn btn-primary my-2 my-sm-0 text-center" type="submit">
							Search
						</button>
					</form>
				</div>
			</nav>
		</div>
	<div class="row">
		<div class="col-md-5">
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<div id="card-765134">
				<div class="card">
					<div class="card-header">
						 <a class="card-link" data-toggle="collapse" data-parent="#card-765134" href="#card-element-261787">Collapsible Group Item #1</a>
					</div>
					<div id="card-element-261787" class="collapse show">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						 <a class="collapsed card-link" data-toggle="collapse" data-parent="#card-765134" href="#card-element-599362">Collapsible Group Item #2</a>
					</div>
					<div id="card-element-599362" class="collapse">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-5">
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<div id="card-806366">
				<div class="card">
					<div class="card-header">
						 <a class="card-link" data-toggle="collapse" data-parent="#card-806366" href="#card-element-578089">Collapsible Group Item #1</a>
					</div>
					<div id="card-element-578089" class="collapse show">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						 <a class="collapsed card-link" data-toggle="collapse" data-parent="#card-806366" href="#card-element-585663">Collapsible Group Item #2</a>
					</div>
					<div id="card-element-585663" class="collapse">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<div id="card-545804">
				<div class="card">
					<div class="card-header">
						 <a class="card-link" data-toggle="collapse" data-parent="#card-545804" href="#card-element-53089">Collapsible Group Item #1</a>
					</div>
					<div id="card-element-53089" class="collapse show">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						 <a class="collapsed card-link" data-toggle="collapse" data-parent="#card-545804" href="#card-element-402898">Collapsible Group Item #2</a>
					</div>
					<div id="card-element-402898" class="collapse">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-5">
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<div id="card-627019">
				<div class="card">
					<div class="card-header">
						 <a class="card-link" data-toggle="collapse" data-parent="#card-627019" href="#card-element-840067">Collapsible Group Item #1</a>
					</div>
					<div id="card-element-840067" class="collapse show">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						 <a class="collapsed card-link" data-toggle="collapse" data-parent="#card-627019" href="#card-element-566768">Collapsible Group Item #2</a>
					</div>
					<div id="card-element-566768" class="collapse">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<div id="card-395772">
				<div class="card">
					<div class="card-header">
						 <a class="card-link" data-toggle="collapse" data-parent="#card-395772" href="#card-element-827458">Collapsible Group Item #1</a>
					</div>
					<div id="card-element-827458" class="collapse show">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						 <a class="collapsed card-link" data-toggle="collapse" data-parent="#card-395772" href="#card-element-15241">Collapsible Group Item #2</a>
					</div>
					<div id="card-element-15241" class="collapse">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-5">
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<div id="card-695184">
				<div class="card">
					<div class="card-header">
						 <a class="card-link" data-toggle="collapse" data-parent="#card-695184" href="#card-element-586746">Collapsible Group Item #1</a>
					</div>
					<div id="card-element-586746" class="collapse show">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						 <a class="collapsed card-link" data-toggle="collapse" data-parent="#card-695184" href="#card-element-951091">Collapsible Group Item #2</a>
					</div>
					<div id="card-element-951091" class="collapse">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
