{% extends "base.html" %}
{% block title %} FAQ {% endblock %}


{% block content%}
<div class="container">
	<div class="col-md-12">
		<div class="text-center">
				<h1> FAQ: Frequently Asked Questions </h1>
			</div>
			<div class="row justify-content-center">
			<nav class="navbar navbar-expand-lg navbar-light">		
				<form class="form-inline text-center">
					<input class="form-control mr-sm-2 text-center" type="text" /> 
					<button class="btn btn-primary my-2 my-sm-0 text-center" type="submit">
						Search
					</button>
				</form>
			</nav>
		</div>


		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2> Follow Up </h2>
				<div class="accordion" id="accordion">
					<div class="card">
						<div class="card-header">
							  <h2>
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseID1" aria-expanded="false" aria-controls="collapseID1">
						          How often will my child be reviewed by King's?
						        </button>
						      </h2>
						</div>
						<div class="x"> 
				      		<div class="collapse" id="collapseID1"> Every child will be seen 4-6 weeks after their admission following Kasai. Follow up will then be decided based on clinical need and if your child’s liver condition is stable typical follow up is two times a year. </div>
					    </div>
					</div>
				<div class="card">
						<div class="card-header">
							  <h2>
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseID2" aria-expanded="false" aria-controls="collapseID2">
						          Is it possible for our appointments to be closer to where we live?
						        </button>
						      </h2>
						</div>
						<div> 
				      		<div class="collapse" id="collapseID2">
				      			As there are only three children’s liver disease services in the UK (London, Birmingham and Leeds) we prefer for our patients to continue to be follow up by a specialist service.However, we do run some outreach clinics around the country so you are very welcome to discuss this with the team. 
				      		</div>
					    </div>
					</div>
				<div class="card">
						<div class="card-header">
							  <h2>
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseID3" aria-expanded="false" aria-controls="collapseID3">
						          Do you provide any accomodation for our families close to the hospital?
						        </button>
						      </h2>
						</div>
						<div> 
				      		<div class="collapse" id="collapseID3"> We do understand that some families have to travel far; we have accommodation with the Ronald Macdonald house near to the hospital. Please contact the liver CNS team who can forward your email to our family liaison officer if you need additional accommodation when you have to come to the hospital. </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
</div>
</div>
<br>
{% endblock %}

