{% extends "base.html" %}
{% block title %} Project WW {% endblock %}

{% block content%}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
<script src="{{url_for('static', filename='/js/parallax.min.js')}}"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>


<div class="wrapper">

        <nav id="sidebar" class="hidden">
          <ul>

              {% for header in content.headings %}
              <li>
              <a href="#{{header[0:3]}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ header }}</a>
                  {% for record in content.records %}

                  <ul class="collapse list-unstyled" id="{{header[0:3]}}">

                    {% if record.header == header%}
                    <li><a href="#section-{{record.page_id}}">{{record.title}}</a></li>

                    {% endif %}
                    </ul>
                  {% endfor %}
                </li>
                {% endfor %}

          </ul>
        </nav>




  <div type="button" id="collapse" class='menubar hamburger'>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
   </div>

  <div id="content" class="content">
    <div>

    <div>
    <input type="checkbox" id="click2">
      <label for="click2" class="popUpButtonCircle"><img src="../static/resources/icon/glossary.png"></label>
      <div class="popUp">
        <div class="popUpHeader">
          <div class="popUpTitle">Glossary of Liver Terms</div>
          <label for="click2" class="close-btn">&times;</label>
        </div>

        <div class="popUpContent">
        <p>
          There are many medical terms which are used by those caring for children and young people with liver disease. It can be really helpful to know these terms which may be used during appointments.<br> <br>
          If you come across a medical term you don’t know you can look up an explanation here.
          <br> <br>

          <a href="#glossaryA">A </a>|
          <a href="#glossaryB">B </a>|
          <a href="#glossaryC">C </a>|
          <a href="#glossaryD">D </a>|
          <a href="#glossaryE">E </a>|
          <a href="#glossaryF">F </a>|
          <a href="#glossaryG">G </a>|
          <a href="#glossaryH">H </a>|
          <a href="#glossaryI">I </a>|
          <a href="#glossaryJ">J </a>|
          <a href="#glossaryK">K </a>|
          <a href="#glossaryL">L </a>|
          <a href="#glossaryM">M </a>|
          <a href="#glossaryN">N </a>|
          <a href="#glossaryO">O </a>|
          <a href="#glossaryP">P </a>|
          <a href="#glossaryR">R </a>|
          <a href="#glossaryS">S </a>|
          <a href="#glossaryT">T </a>|
          <a href="#glossaryU">U </a>|
          <a href="#glossaryV">V </a>|
          <a href="#glossaryW">W </a>|
          <a href="#glossaryX">X </a>

          <br> <br>

          <a id="glossaryA">
          <b> A</b> <br> </a>
          Acute – sudden and severe. <br>
          Alanine aminotransferase (ALT) – an enzyme produced mainly in
          the liver.  <br>
          Albumin – a protein made by the liver. Controls fluid in the blood
          and tissues. <br>
          Alkaline phosphatase (ALP/ALK-PHOS) – an enzyme produced
          in the bile ducts and elsewhere in the body. <br>
          Alanine aminotransferase (ALT) – an enzyme produced mainly in
          the liver. <br>
          Anaemia – a lack of iron can lead to a person having fewer red
          blood cells than usual. There can also be other causes. <br>
          Anastomosis – a connection made surgically between two tubes. <br>
          Angiogram – a scan using x-rays to see blood vessels. It can be
          used to see the blood vessels which supply the liver. <br>
          Antibody – a protein which fights infection. <br>
          Ascites – fluid collecting in the abdomen. <br>
          Aspartate aminotransferase – an enzyme produced mainly in the liver.
          Atresia – blocked, destroyed or missing. <br>
          Autoimmune (autoantibodies) – an immune response against the
          body’s own tissue. <br>

          <div class="line"></div>
        </p>
        <p>
          <a id="glossaryB">
          <b> B </b> <br> </a>
          Banding – a treatment for varices. Surgical elastic bands are
          placed around the varices during an endoscopy.<br>
          Bile – a green/yellow liquid containing bile salts, bilirubin and
          cholesterol.<br>
          Bile acids – acids found in bile which can be converted into bile
          salts.<br>
          Biliary tract – the system of tubes which carry bile from the liver
          and gall bladder and drain into the intestine.<br>
          Bilirubin – this is a product of the breakdown of old red blood
          cells. It has a yellow colour which gives stool and blood their
          colour.
          Bilirubin travels in the blood stream to the liver where it has a
          sugar added and becomes conjugated bilirubin. Before this
          sugar is added it is known as unconjugated bilirubin.<br>
          Biopsy (liver) – a procedure to take a small sample of the liver to
          test in the laboratory.<br>
          Body Mass Index (BMI) – a test using height and weight to
          measure whether an individual is a healthy weight.<br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryC">
        <b> C </b> <br> </a>
        Cannula - a short, soft, narrow plastic tube temporarily put into
        a vein so medicines/fluids/blood etc. can be given intravenously
        (IV) as needed. <br>
        Cardiac – refers to the heart. <br>
        Cardiovascular system – the heart and blood vessels which
        transport nutrients and oxygen around the body. <br>
        Carrier – someone who has a gene which can cause a genetic
        condition but doesn’t have the condition themselves. <br>
        Cell – basic structural and functional component of all living
        things. <br>
        Central venous line (CVL) – a central line is similar to a cannula
        but is a longer tube used to give medicine, fluid, nutrition or blood
        directly into a larger vein and can also be used to take blood
        samples. It is a long, narrow plastic tube which can be placed into
        a vein in the neck, chest or groin and is used for longer than a
        cannula. It is usually inserted under a general anaesthetic. <br>
        Cholangitis – inflammation or infection of bile ducts which can
        cause poor bile flow from the liver and liver damage. <br>
        Cholestasis – reduction or blockage of bile flow. <br>
        Chronic Hepatitis – inflammation of the liver that lasts over a
        period of time. Liver cells may be destroyed by the inflammation. <br>
        Chronic – an illness or condition which lasts over a period of time. <br>
        Cirrhosis – scarring of the liver when liver cells are damaged and
        destroyed. Scarring can stop blood flowing through the liver
        properly leading to further damage. The liver becomes smaller,
        hardens and can’t function properly. Cirrhosis cannot be reversed. <br>
        Coagulopathy – refers to any condition where the blood cannot
        clot properly. <br>
        Computerised tomography scan (CT Scan) – x-rays are used to
        create a detailed picture of different parts of the body. <br>
        Congenital – a condition which is present from birth. <br>
        Cystic – relating to the gall bladder. <br>
        Cytomegalovirus (CMV) – a virus belonging to the herpes virus
        group. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryD">
        <b> D </b> <br> </a>
        Distension – expansion or enlargement. <br>
        Duct – a tube which fluid can pass through from one part of the
        body to another, e.g. bile ducts. <br>
        Dysplasia – the abnormal development of body tissue or an
        organ. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryE">
        <b> E </b> <br> </a>
        Echocardiogram (Echo) – a scan of the heart using high
        frequency sound waves, similar to an ultrasound of the
        abdomen. <br>
        Electrocardiogram (ECG) - records the electrical activity of the
        heart. <br>
        Encephalopathy – changes in the brain which can be due to liver
        failure. The build-up of toxins in the blood can lead to tiredness,
        irritability and personality changes. <br>
        Endoscopic retrograde cholangiopancreatography (ERCP)
        – a special x-ray used to examine bile ducts under general
        anaesthetic. <br>
        Endoscopy – using a flexible, thin tube with a camera attached
        to look at the inside of the upper end of the digestive system. It
        is passed through the mouth and down the oesophagus (food
        tube). <br>
        Enteral feeding – feeding through a tube directly into the
        stomach or part of the intestine. <br>
        Enzyme – substances in the body which help chemical reactions
        to take place. <br>
        Epstein Barr virus (EBV) – a virus which causes glandular fever. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryF">
        <b> F </b> <br> </a>
        Faeces – also known as stool or poo. <br>
        Fibrosis – scar tissue which replaces normal tissue which, when
        extensive, is known as cirrhosis. <br>
        Full blood count (FBC) – a blood test measuring all of the
        different types of cells in the blood. <br>
        Fulminant – a severe, sudden form of liver failure. More
        commonly known as acute liver failure. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryG">
        <b> G </b> <br> </a>
        Gallbladder – a small sac which stores and releases bile made
        by the liver.<br>
        Gallstones – the stones which can be formed by bile and collect
        in the gall bladder and bile ducts. They can cause pain and
        may pass into the common bile duct and cause cholangitis or
        obstructive jaundice.<br>
        Gamma-Glutamyl Transferase (also known as Gamma
        Glutamyltranspeptidase (Gamma GT (GGT)) – an enzyme
        produced mostly by the bile ducts.<br>
        Gastroenterology – study of the digestive system.<br>
        General anaesthetic – an individual is put into a state of
        controlled unconsciousness.<br>
        Genes – genes are made up of DNA and provide instructions for
        the body.<br>
        Graft – an organ, tissue or cells used for transplantation.<br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryH">
        <b> H </b> <br> </a>
        Haematemesis – vomiting (sickness) blood. <br>
        Haemoglobin – part of a red blood cell which carries oxygen
        around the body. <br>
        Hepatic – referring to the liver. <br>
        Hepatic artery – the blood vessel which brings blood with
        oxygen to the liver. <br>
        Hepatic vein – the blood vessel which takes blood away from the
        liver. <br>
        Hepatitis – inflammation of the liver. <br>
        Hepatology – study of the liver. <br>
        Hepatomegaly – enlargement of the liver. <br>
        Hypo/hypertension – low/high blood pressure. <br>
        </p>

        <div class="line"></div>

        <p>
        <b> I </b> <br>
        Idiopathic – something which doesn’t have a known cause. <br>
        Immune system – the body’s defence which fights against
        foreign substances in the body such as bacteria and viruses. <br>
        Immunity – protection against a particular disease. This can
        happen naturally or due to vaccination. <br>
        Immunoglobulin – a protein which plays a role in the immune
        system. <br>
        Immunosuppression – medications which can be taken which
        make the immune system less active. <br>
        Incidence – the number of new cases of a disease over a certain
        period of time in a set population. <br>
        International normalised ratio (INR) – a measure of how well
        blood clots. <br>
        Intravenous – into the vein. Some drugs are delivered straight
        into the veins. <br>
        </p>

        <div class="line"></div>
        <p>
        <a id="glossaryJ">
        <b> J </b> <br> </a>
        Jaundice – a high level of bilirubin in the blood leading to the yellowing of the skin and/or the whites of the eyes. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryK">
        <b> K </b> <br> </a>
        Kasai portoenterostomy – an operation to get bile flowing from
        the liver to the intestine in biliary atresia. Bile ducts are removed
        and a piece of intestine is used to replace the ducts. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryL">
        <b> L </b> <br> </a>
        Liver function tests (LFT) – blood tests which can show how well
        the liver is working. <br>
        Liver transplant – an operation to replace a damaged liver with a
        donor liver. <br>
        <ul>
          <li>
              Auxiliary liver transplant – where part of a donor liver is placed alongside the child’s own liver.
          </li>
          <li>
              Orthotopic liver transplant – where the child’s liver is replaced by all of part of a donor liver.
          </li>
        </ul>
        </p>
        <p>
        Lymph – a clear, watery liquid derived from body tissues which
        carries white blood cells and fats. It travels through the lymphatic
        system of the body. <br>
        Lymphadenectomy – an operation to remove the lymph nodes. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryM">
        <b> M </b> <br> </a>
        Magnetic resonance imaging (MRI) – a detailed scan of the body
        using magnets rather than x-ray. <br>
        Malabsorption – the body doesn’t absorb nutrients properly
        when we eat them. <br>
        Metabolism – the processes in the body which break down and
        build up different chemicals. <br>
        Metabolic disorder – a condition in which metabolism is affected. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryN">
        <b> N </b> <br> </a>
        Nasogastric (NG) feeding – giving food through a tube which
        goes through the nose and down the throat to the stomach. <br>
        Nasogastric tube – the tube used during NG feeding above. <br>
        Nasojejunal (NJ) tube – a small tube that is passed up the nose
        and down the throat, through the stomach, and into the small
        intestine used for feeding. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryO">
        <b> O </b> <br> </a>
        Oedema – also known as fluid retention, fluid builds up in the
        tissues affected. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryP">
        <b> P </b> <br> </a>
        Parenteral nutrition (PN) – feeding nutrients directly into the vein
        when an individual cannot eat normally. <br>
        Percutaneous Transhepatic Cholangiography (PTC) – a special
        x-ray which looks at the bile ducts. It is done under a general
        anaesthetic using a needle which is inserted through the skin of
        the abdomen into the bile ducts. It can be used to diagnose and
        treat a variety of bile duct issues. <br>
        Phlebotomist – a person who takes blood samples. <br>
        Platelets – part of the blood and important for clotting the blood.
        They can be low in people with liver disease. <br>
        Polymerase Chain Reaction (PCR) – a test which checks if a
        virus is present in the blood. A positive result means the virus is
        present. <br>
        Portal Hypertension – high blood pressure in the portal vein
        which may occur due to scarring of the liver or a blockage of the
        portal vein. <br>
        Portal Vein – main vein carrying blood from the intestine to the
        liver. <br>
        Pruritus – itching of the skin. <br>
        Pulmonary – refers to the lungs. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryR">
        <b> R </b> <br> </a>
        Rejection – when the body’s immune system attacks a
        transplanted organ. It can be acute (sudden) or chronic (over a
        period of time). <br>
        Renal – refers to the kidneys. <br>
        Respiratory – refers to breathing. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryS">
        <b> S </b> <br> </a>
        Sclerotherapy – a treatment for varices where a solution is
        injected into them during an endoscopy. <br>
        Screening – testing for a condition or the genes for a condition. <br>
        Spider Naevi – small, broken veins under the skin which can look
        like red spiders. <br>
        Spleen – an organ which removes old blood cells. Its blood
        supply is connected to the liver. <br>
        Splenomegaly – an enlarged spleen. <br>
        Split bilirubin test – a blood test which measures how much
        conjugated and unconjugated bilirubin is in the blood. See
        ‘bilirubin’ for more information. <br>
        Steroids – medication which reduces the activity of the body’s
        immune system. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryT">
        <b> T </b> <br> </a>
        Thrombosis – a blood clot in a vein or artery. <br>
        TPR – an abbreviation for temperature, pulse and respiration. <br>
        Triglycerides – a type of fat. <br>
        TTA and TTO – abbreviation for ‘to take away’ or ‘to take out’
        referring to medicines which are taken home. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryU">
        <b> U </b> <br> </a>
        Ultrasound scan (USS) – a scan which takes pictures of organs
        and blood vessels inside the body. <br>
        Urea and electrolytes – may be called ‘U & E's or kidney function
        tests. They are monitored to see how well the kidneys are
        working. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryV">
        <b> V </b> <br> </a>
        Varices – veins in the lining of the intestine, oesophagus and
        stomach which can be enlarged and swollen due to portal
        hypertension and can bleed if not treated. <br>
        Viral load – a viral load test is a lab test that measures the
        number of virus particles in a millilitre of blood. <br>
        </p>

        <div class="line"></div>

        <p>
        <a id="glossaryX">
        <b> X </b> <br> </a>
        Xanthomas – cholesterol deposited under the skin which can
        look like pale warts. <br>
        </p>

        </div>
      </div>
      <div class="overlay"></div>
    </div>

  {% for header in content.headings %}

  <h1>{{ header }} </h1>
    {% for record in content.records %}
      {% if record.header == header%}
      <div>
        {{ record.content | safe }}
      </div>
      <div class="line"> </div>
      {% endif %}

    {% endfor %}
  {% endfor %}

</div>



  <input onclick="top()" id="toTop" type="image" src="../static/resources/icon/arrow.png">
    </div>
</div>


<!-- ScrollMagic Javascript library -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>


<script type="text/javascript" src="{{url_for('static', filename='/js/hamburger.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='/js/toTop.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='/js/scroll.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='/js/sidebar.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='/js/collapse.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='/js/darkMode.js')}}"></script>

{% endblock %}
