{% extends "bases/base.html" %}
{% block title %} Quiz Statistics {% endblock %}


{% block body%}

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('dashboard.dashboard_panel')}}">
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('quiz.questions')}}">
              Add quiz
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Delete page
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('content.edit_content')}}">
              Edit page
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>User feedback</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('dashboard.helpful_pages')}}">
              <span data-feather="file-text"></span>
              Help pages statistics
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('quiz.quiz_statistics')}}">
              <span data-feather="file-text"></span>
              Quiz statistics
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
        </ul>
      </div>
    </nav>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="container">
        <h1 class="text-dark" style="text-decoration-line:underline;" align="center">
          Quiz Statistics
        </h1>
        <hr>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Question</th>
              <th scope="col">Right answers</th>
              <th scope="col">Wrong answer</th>
            </tr>
          </thead>
          <tbody>
            {% for question in questions %}
              <tr>
                <td>{{ question.question_text }}</td>
                <td>{{ question.stat_right }}</td>
                <td>{{ question.stat_wrong }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
{% endblock %}
