{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}

<h1> Search Bar Sample </h1>
<p>
Lorem ipsum dolor sit amet, Lorem consectetur adipiscing elit. Duis sit amet mollis magna, fermentum volutpat mi. Donec pharetra eros nec pulvinar luctus. Pellentesque suscipit, est facilisis pellentesque consectetur, leo mi dapibus augue, non mattis mauris neque ac magna. Donec ut mi augue. Fusce diam sem, blandit at tellus sit amet, convallis gravida nisi. Donec posuere nec augue eget rhoncus. Morbi fringilla libero nibh, nec interdum lacus mattis a. Morbi iaculis nulla sapien, ut ultricies odio feugiat interdum.
</p>



{% endblock %}
