{% extends "base.html" %}
{% block title %} Users List {% endblock %}


{% block content%}
{{ table }}
<div class='container'>
  <div class="row justify-content-center">
    <h2>Users List</h2>
  </div>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
        <tr>
        {% for user in row %}
            <td>{{ user }}</td>
        {% endfor %}
        <td><button class="btn btn-primary">Delete user</button></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
