{% extends "base.html" %}
{% block title %} Users List {% endblock %}


{% block content%}





<div class='container'>
  <div class="row justify-content-center">
    <h2>Users List</h2>
  </div>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.email }}</td>
            <td><button class="btn btn-primary" onclick="window.location.href ='{{url_for('deleteUser', user_id = row.id)}}' ;">Delete</button>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
