{% extends "base.html" %}
{% block title %} Staff Login {% endblock %}
 

{% block content%}
<div class="container">
{% for message in get_flashed_messages()%}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
    <div>
    {% endfor %}
 </div>  

<br />
<div class="backColour">
<div class="container h-60">
    <div class="loginDiv border rounded">
    <div class="row h-100 justify-content-center align-items-center">
      <h2>Staff Login</h2>
    </div>
      <!-- Login Form -->
      <form action="/login" method="POST">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="w-50 p-3">
          <input type="text" class="form-control" id="username" name="username" placeholder="Username">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
        <br />
        </div>

        <div class="row h-100 justify-content-center align-items-center">
        <input type="submit" class="btn btn-primary" value="Login">
        </div>
      </form>

      

      <!-- Forgotten Password -->
      <div class="row h-100 justify-content-center align-items-center">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>

    </div>
    </div>
    </div>
</div>
{% endblock %}

