{% extends "base_templates/dashboard_page.html" %}
{% block title %} Edit Page {% endblock %}

{% set current_page = url_for('content.edit_content') %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
<!-- Include editor stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="{{url_for('static', filename='/js/parallax.min.js')}}"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

{% endblock %}
{% block content%}
  <h1 class="my-3">Edit Main Content Page</h1>

  <!-- Button to add new section. -->
  <button type="button" onClick="add_section()" class="btn btn-info mb-3" id="add_section">Add New Section</button>
  <button type="button" onClick="go_back()" class="btn btn-info mb-3" id="go_back">Go back</button>

  <!-- Dropdown primary. -->
  <div id="header_bar">
    <Label for="input_header">Choose a header from the list or type a new one and press Enter:</Label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="heading">Heading: </span>
      </div>
      <input class="form-control" autocomplete="off" list="headings" id="input_header">
      <datalist id="headings">
        {% for header in content.headings %}
          <option value="{{header}}">
        {% endfor %}
      </datalist>
    </div>
  </div>

  <!-- When editing an existing section. -->
  <div id="title_bar">
    <Label for="input_title">Choose a title from the list below:</Label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="title">Title: </span>
      </div>
      <input class="form-control" autocomplete="off" list="titles" id="input_title">
      <datalist id="titles">
        {% for record in content.records %}
        <option value="{{record.page_id}}">
          {{record.title}}
        </option>
        {% endfor %}
      </datalist>
    </div>
  </div>

  <!-- When creating a new section. -->
  <div id="new_title_bar">
    <label for="new_input_title">Write a new title</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="title">Title: </span>
      </div>
      <input class="form-control"autocomplete="off" id="new_input_title">
    </div>
  </div>

  <div class="editor">
    <Label>The contents below will appear on the main page as you see them on here (title above not shown):</Label>
    <div id="quill_editor"></div>
  </div>

  <div class="row justify-content-center my-3">
    <input type="submit" class="btn btn-success mx-2" value="Save Changes" id="save_section">
    <input type="submit" class="btn btn-danger mx-2" value="Remove Selected Article" id="delete_section">
    <input type="submit" class="btn btn-success mx-2" value="Submit New Section" id="create_section">
  </div>

  <!-- Include editor stylesheet. -->
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <!-- Include editor library (Quill). -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

  <!-- Editor control. -->
  <script type="text/javascript">
    // Set up the editor options.
    var quill = new Quill('#quill_editor', {
      theme: 'snow',
      modules: {
        toolbar: [
          [{'font': []}, {'size': []}],
          ['bold', 'italic', 'underline', 'strike'],
          [{'color': []}, {'background': []}],
          [{'script': 'super'}, {'script': 'sub'}],
          [{'header': '1'}, {'header': '2'}, 'blockquote', 'code-block'],
          [{'list': 'ordered'}, {'list': 'bullet'}, {'indent': '-1'}, {'indent': '+1'}],
          ['direction', {'align': []}],
          ['link', 'image', 'video', 'formula'],
          ['clean']
        ]
      }
    });

    // Hides the title, editor and buttons at the begining
    const init_hidden = ['#go_back','#title_bar', '#new_title_bar', '#editor', '#create_section'];
    init_hidden.forEach(e => {$(e).hide()});

    // Creates a new section and change the button.
    function add_section() {
      const to_hide = ['#add_section', '#save_section', '#delete_section', '#title_bar'];
      const to_show = ['#go_back', '#new_title_bar', '#create_section', '#editor']
      to_hide.forEach(e => {$(e).hide()});
      to_show.forEach(e => {$(e).show()});
    }

    // Put back the new section button and allows editting of an existing section
    function go_back() {
      const to_hide = ['#go_back', '#new_title_bar', '#create_section'];
      const to_show = ['#add_section', '#editor', '#save_section', '#delete_section']
      to_hide.forEach(e => {$(e).hide()});
      to_show.forEach(e => {$(e).show()});
      if ($('#title_bar').val() != "") {
        $('#title_bar').show();
      }
    }

    // Once a header is selected, only titles from this header are available.
    $('#input_header').change(function(e) {
      e.preventDefault(); // Cancel the link default behaviour.
      var title_list = [
        {% for record in content.records %}
          {id: "{{record.page_id}}", title: "{{record.title}}", header: "{{record.header}}"},
        {% endfor %}
      ];

      var options = ''
      for (var i = 0; i < title_list.length; i++) {
        if (title_list[i].header === $('#input_header').val()) {
          options += '<option value="' + title_list[i].id + '">';
          options += title_list[i].title;
          options += '</option>';
        }
      }

      $('#titles').html(options);
      if ($('#new_title_bar').is(":hidden")) {
        $('#title_bar').show();
      }
    });

    // Get the record associated with the selected title.
    $('#title_bar').change(function(e) {
      e.preventDefault(); // Cancel the link default behaviour.

      $.getJSON("{{url_for('content.edit_record_content')}}", {
        id: $('input_title').val()
      }, function(data) {
        if (data === 'error') {
          window.alert('The title does not exists');
        } else {
          $('#quill_editor').html(data);
        }
      });
    });

    $('#save_section').click(function() {
      var id = $('input_title').val();
      var header = $('#new_input_title').val();
      // TO FINISH
    });

    $('#delete_section').click(function() {
      var id = $('input_title').val();
      var header = $('#new_input_title').val();
      // TO FINISH
    });

    $('#create_section').click(function() {
      var header = $('#input_header').val();

      if (header != '') {
        if (confirm('Are you sure you want to create this article ?')) {
          $.ajax({
            method: 'POST',
            url: "{{ url_for('content.save_record') }}",
            data: JSON.stringify({
              text: quill.root.innerHTML.trim(),
              title: $('#new_input_title').val(),
              header: header
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function(data) {
              window.alert("Action executed with success.");
              location.reload();
            },
            error: function(jqXHR) {
              window.alert("An error occured - error " + jqXHR.status)
            },
          });
        } else {
          window.alert('Action aborted');
        }
      } else {
        window.alert('Failed: empty header.');
      }
    });
  </script>
{% endblock %}