{% extends "base_templates/dashboard_page.html" %}
{% block title %} Helpful pages stats {% endblock %}

{% set current_page = url_for('dashboard.helpful_pages') %}

{% block content%}
<div class="container">
  <h1 class="text-dark" align="center">User satisfaction</h1>
  <hr>
  {% for stat in stats %}
    {% if loop.first %}
      <div class="row justify-content-around">
    {% endif %}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ stat.page }}</h5>
          <div class="card-text">
             {{ stat.yes }} people found this page useful.
          </div>
          <div class="card-text">
             {{ stat.no }} people found this page useful.
          </div>
        </div>
      </div>
    {% if loop.last %}
      </div>
      <br>
    {% elif loop.index is divisibleby 3 %}
      </div>
      <br>
      <div class="row justify-content-around">
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
