{% extends "base_templates/dashboard_page.html" %}
{% block title %} Dashboard {% endblock %}


{% block content%}
<div class="container">
  <h1 class="text-dark" align="center"> Dashboard</h1>
  <hr>
  <div class="row justify-content-around">
    <div class="card" style="width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Total visits: </h5>
        <p class="card-text">{{analyticsUsage.totalVisits}}</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Most Visited Page</h5>
        <p class="card-text">{{analyticsUsage.mostVisitedPage}}</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Unique visitors: </h5>
        <p class="card-text">{{analyticsUsage.visitorCount}}</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-4">
    <a class="btn btn-primary mx-2" href="{{url_for('users.add_user')}}" role="button" id="addUser">Add user</a>
    <a class="btn btn-primary mx-2" href="{{url_for('users.list_users')}}" id="seeUser" role="button">See users</a>
    <a class="btn btn-primary mx-2" href="{{url_for('content.edit_content')}}"role="button">Edit main page</a>
  </div>

  <div class="row">
    <div class="col-lg-6 mb-5">
      <div class="card">
        <canvas id="weekly_usage" width="450" height="380"></canvas>
      </div>
    </div>
    <div class="col-lg-6 mb-5">
      <div class="card">
        <canvas id="systems" width="450" height="380"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("weekly_usage");
  var weekly_usage = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        {% for i in range(5, -1, -1) %}
          '{{analyticsUsage.weekData[ i|string ].date}}',
        {% endfor %}
      ],
      datasets: [{
        data: [
          {% for i in range(5, -1, -1) %}
            {{analyticsUsage.weekData[ i|string ].count}},
          {% endfor %}
        ],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });

  var ctxP = document.getElementById("systems").getContext('2d');
  var systems = new Chart(ctxP, {
    type: 'pie',
    data: {
      labels: ["Windows", "MacOS", "Mobile"],
      datasets: [{
        data: [
          {{analyticsUsage.windowsCount}},
          {{analyticsUsage.macCount}},
          {{analyticsUsage.mobileCount}}
        ],
        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C"],
        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870"]
      }]
    },
    options: {
      responsive: true
    }
  });
</script>
{% endblock %}
