{% extends "base_templates/dashboard_page.html" %}
{% block title %} Quiz Statistics {% endblock %}

{% set current_page = 'quiz' %}

{% block content%}
<h1 class="text-dark my-3">Quiz Statistics</h1>
<table class="table table-hover my-3">
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Right answers</th>
      <th scope="col">Wrong answer</th>
    </tr>
  </thead>
  <tbody>
    {% for question in questions %}
      <tr>
        <td>{{ question.question_text }}</td>
        <td id = "correc1">{{ question.stat_right }}</td>
        <td>{{ question.stat_wrong }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
