{% extends "bases/base.html" %}
{% block title %} Users List {% endblock %}


{% block body%}

<div class='container'>
  <div class="row justify-content-center">
    <h2>Users List</h2>
  </div>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in data %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td><a href="{{url_for('users.delete_user', user_id = user.id)}}" class="btn btn-primary" role="button">Delete user</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
