{% extends "base.html" %}
{% block title %} Staff Login {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/floating-labels.css')}}">
{% endblock %}

{% block content%}
<div class="container">

  {% for message in get_flashed_messages()%}
  <div class="alert alert-warning" id="error{{ loop.index }}" >
    <button onclick="document.getElementById('error{{ loop.index }}').style.display = 'none';" type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
  </div>

  {% endfor %}
  <div class="row justify-content-center">
    <h2>Staff Login</h2>
  </div>
  <form class="form-signin" action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-label-group">
          {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
              {{ form.email(class="form-control", id="email", placeholder="Email") }}
          {% endif %}
          {{ form.email.label() }}
        </div>

        <div class="form-label-group">
          {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control", id="password", placeholder="Password") }}
          {% endif %}
          {{ form.password.label() }}
        </div>

        <div class="form-check">
          {{ form.remember(class="form-check-input") }}
          {{ form.remember.label(class="form-check-label") }}
        </div>

    <div class="form-group">
      {{ form.submit(class="btn btn-primary", id="submit") }}
    </div>

  </form>

  <div class="border-top pt-3">
    <small class="text-muted">Contact a member of the staff if you need an account.</small>
  </div>

</div>
{% endblock %}
