{% extends 'base_templates/form.html' %}
{% from 'base_templates/form.html' import textarea, submit with context %}

{% block title %} Add a drug to the chart {% endblock %}

{% block header %} Add a drug to the chart {% endblock %}

{% block form %}
{{ textarea(title='Name', id='name', rows='1', cols='15', attributes=['required']) }}
{{ textarea(title='Indications', id='indications', rows='5', cols='35', value='N/A') }}
{{ textarea(title='Hours', id='hours', rows='1', cols='20', attributes=['required'],
    placeholder='Please input the selected hours in a 24 hour format, separated by commas.'
) }}
{{ submit(back_url=url_for('drug_chart.medication')) }}
{% endblock %}