{% extends 'base_templates/form.html' %}
{% from 'base_templates/form.html' import textarea, submit with context %}

{% block title %} Edit drug chart {% endblock %}

{% block header %} Edit the selected drug
'{{ hours|pprint }}' {% endblock %}

{% block form %}
{{ textarea(title='Name', id='name', rows='1', cols='15', attributes=['required'], value=medication.name) }}
{{ textarea(title='Indications', id='indications', rows='5', cols='35', value=medication.indications) }}
{{ textarea(title='Hours', id='hours', rows='1', cols='20', attributes=['required'], value=hours) }}

{{ submit(back_url=url_for('drug_chart.medication'), submit_text='Update') }}
{% endblock %}