{% extends 'base_templates/user_page.html' %}

{% block title %} Drug Chart {% endblock %}

{% block content %}
<div class="container mb-2">
  <h1>Drug Chart</h1>
  <form method="post">
    <table class="table table-hover">
      <thead>
        <tr id="tableh">
          <th scope="col"></th>
          <th scope="col">Medication</th>
          <th scope="col">Indications</th>
          {% if current_user.is_authenticated %}
            <th scope="col" style="width: 15%">Edit</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for medication in medications %}

        <tr id="tableContent">
          <td>
            <input type="checkbox" name="{{ medication.name }}" {{ session['meds'][medication.name] if session['meds'] else 'checked' }}>
          </td>
          <td>{{ medication.name }}</td>
          <td><p>{{ medication.indications }}</p></td>
          {% if current_user.is_authenticated %}
            <th scope="col">
              <a id="delete" href="{{url_for('drug_chart.delete_medication', id=medication.id)}}" class="btn btn-primary px-2">Delete</a>
              <a id="edit" href="{{url_for('drug_chart.edit_medication', id = medication.id)}}" class="btn btn-primary px-2">Edit</a>
            </th>
          {% endif %}
        </tr>

        {% endfor %}
      </tbody>
    </table>
    <div class="mx-auto text-center">
      <button type="submit" class="btn btn-primary" id="generate">Generate Chart</button>
      {% if current_user.is_authenticated %}
        <a href="{{url_for('drug_chart.add_medication')}}" class="btn btn-primary">Add a medication</a>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}
